* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Poppins;
}

.form-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.form-container form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    width: 1500px;
}

.fg-container {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    margin: 25px 0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

.field-group {
    display: flex;
    flex-direction: column;
    width: 425px;
}

.field-group select {
    font-family: Poppins;
    font-size: 15px;
    padding: 5px 0;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.btn-container {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

form .calculate-btn, form .back-btn {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 0;
    width: 100px;   
    background: #880015; 
    color: #ffffff;
    border-radius: 10px;
    border: 0;
    margin: 0 10px;
}

form .back-btn {
    background: white;
    color: #880015;
    border: 2px solid #880015;
    text-decoration: none;
    text-align: center;
}

form .calculate-btn:hover, form .back-btn:hover {
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2);
}

#map {
    height: 100vh;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .form-container form {
        padding: 0;
        flex-direction: column;
        justify-content: center;
    }

    .fg-container {
        padding: 15px;
        flex-direction: column;
        width: 350px;
    }

    .field-group {
        font-size: 12px;
        width: 350px;
    }

    .btn-container {
        justify-content: center;
        width: 300px;
    }

    .btn-container .calculate-btn, .btn-container .back-btn {
        font-size: 12px;
        width: 80px;
        padding: 5px 5px;
    }
}